{% extends "base.html" %}

{% block content %}
  <style>
    
  </style>

  <h3 style="color: #333">My Library{{ user.username }} !
  </h3>

  <!-- Collections en grille -->
    <h2>Mes Livres</h2>
    <div class="collections">
        {% for book in books %}
        <div class="collection-item">
            {% if book.image %}
                <a href="{% url 'item_detail' model_name='book' item_id=book.id %}">
                    <img src="{{ book.image.url }}" alt="{{ book.title }}">
                </a>
            {% else %}
                <p>
        	  <a href="{% url 'item_detail' model_name='book' item_id=book.id %}">
                     {{ book.title }}
     	          </a>
 	        </p>
                <p><small>{{ book.author }}</small></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <h2>Mes Mangas</h2>
    <div class="collections">
        {% for manga in mangas %}
        <div class="collection-item">
            {% if manga.image %}
                <a href="{% url 'item_detail' model_name='manga' item_id=manga.id %}">
                    <img src="{{ manga.image.url }}" alt="{{ manga.title }}">
                </a>
            {% else %}
                <p>
        	  <a href="{% url 'item_detail' model_name='manga' item_id=manga.id %}">
                     {{ manga.title }}
     	          </a>
 	        </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

  <h2>Mes Séries</h2>
  <div class="collections">
    {% for serie in series %}
      <div class="collection-item">
        {% if serie.image %}
          <a href="{% url 'item_detail' model_name='series' item_id=serie.id %}">
          <img src="{{ serie.image.url }}" alt="{{ serie.title }}" style="height:150px;">
          </a>
        {% else %}
          <p>
             <a href="{% url 'item_detail' model_name='series' item_id=serie.id %}">
                {{ serie.title }}
     	     </a>
 	  </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <h2>Mes Films</h2>
  <div class="collections">
    {% for m in movies %}
      <div class="collection-item">
        {% if m.image %}
          <a href="{% url 'item_detail' model_name='movie' item_id=m.id %}">
           <img src="{{ m.image.url }}" alt="{{ m.title }}" style="height:150px;">
          </a>
        {% else %}
          <p>
             <a href="{% url 'item_detail' model_name='movie' item_id=m.id %}">
                {{ m.title }}
     	     </a>
 	  </p
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% endblock %}